# Node modules
node_modules/

# Build artifacts
dist/
build/

# npm install log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.cjs

# Editor/IDE specific files
.vscode/
.idea/

# Vercel specific
.vercel/

# Local environment variables (if you use a .env file locally for development)
.env
